.page ion-searchbar {
  --border-radius: 0.2rem;
  --border: 1px solid #dfe1e5;
  --background: #ffffff;
  --color: #5a5a5a;
  font-size: 0.9rem;
  min-height: 4rem;
  padding: 1rem;
  padding-top: 0;
}
.searchbar-input-container.sc-ion-searchbar-md{
  --box-shadow: none;
}
.searchbar-search-icon.sc-ion-searchbar-md {
  color: #5a5a5a;
  pointer-events: none;
  margin-left: -5px;
}

.searchbar-input.sc-ion-searchbar-md {
  padding-inline-start: 35px;
  padding-inline-end: 35px;
  border: 1px solid #dfe1e5;
}


.mainContent {
  background-color: #e7edfb;
  height: 100%;
  width: 100%;
  overflow: scroll !important;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.employeeItem {
  --border-radius: 10px;
  --padding-start: 1rem;
  --padding-end: 1rem;
  --padding-top: 0.2rem;
  --padding-bottom: 0.2rem;
  padding-top: 0.5rem;
  min-height: 3rem;
}
.employeeItem img {
  width: 3rem;
  border-radius: 10px;
  border: 2px solid #e7edfb;
}

.employeeItem ion-label {
  padding-left: 0.5rem;
}
.employeeItem h2 {
  font-weight: 600;
  letter-spacing: -0.02rem;
}

.employeeItem p {
  letter-spacing: -0.03rem;
}
